.wrapper {
  width: 272px;
  min-width: 272px;
  flex-shrink: 0;
}
.card {
  background: #ebecf0;
  padding: 15px 8px;
  border-radius: 8px;
}

.inputs {
  width: 100%;
  background-color: white;
  border: none;
  padding: 4px 8px;
  resize: none;
  margin-bottom: 10px;
  color: black;
  border-radius: 8px;
}

.addBtn {
  background: #5aac44;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.addItemButton {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  display: flex;
  border: none;
  white-space: nowrap;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
